/*_deault settings_______________________________________________*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: monospace;
}


/*_body_________________________________________________________*/
/* sets the background color for the page */
body {
    background-color: cadetblue;
}


/*_title________________________________________________________*/
/* styles the title for the page */
h1 {
    display: flex;
    margin: auto 0px;
    justify-content: center;
    padding: 10px 0px;
}


/*_nav_________________________________________________________ */
/* sets the size of the nav bar */
nav {
    width: 90%;
    margin: 0 auto;
    box-shadow: 2px 2px rgba(107, 105, 105, 0.616);
}

/* sets the flex container */
nav div ul {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* sets the background color for the ul */
nav ul {
    background-color: rgb(230, 178, 112);
    list-style: none;
    padding: 5px 0px;
}

/* sets the background color for the li */
nav li {
    background-color: rgb(230, 178, 112);
    text-decoration: none;
    margin-right: 2%;
    font-size: 1.3em;
}

/* gets rid of the underline on the text */
nav li a {
    text-decoration: none;
    color: rgb(68, 62, 45);
}

/* changes the properties when hovered over */
nav li a:hover {
    text-decoration: underline;
    cursor: pointer;
    color:aquamarine;
}


/*_sections____________________________________________________*/
/* sets the style for each of the sections */
section {
    margin: 0 auto;
    background-color: bisque ;
    margin-bottom: 10vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px rgba(107, 105, 105, 0.616);
}


/*_h2___________________________________________________________*/
/* styles each of the h2 elements */
h2 {
    font-size: 3.5em;
    margin: .5em;
}


/*_profile pic__________________________________________________*/
/* sets the size of the image */
.face-picture {
    margin-top: 4%;
    width: 15%;
    margin-bottom: 2em;
}


/*_my name______________________________________________________*/
/* sets the size of the h3 */
h3 {
    font-size: 2em;
    margin-bottom: 5px;
}


/*_portfolio____________________________________________________*/
/* create the flex container for the images */
.image-container {
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* sets the size for the images */
.image-container img {
    width: 500px;
    margin: 5px;
}

/* changes the size of the first image */
.img1Contain img {
    width: 75%;
}

/* places a filter over the projects */
.image-container div {
    filter:grayscale(60%) blur(3px);
}

/* removes the filter when hovered over */
.image-container div:hover {
    filter:grayscale(0%) blur(0px);
    cursor: pointer;
}

/* centers the text over the image */
.image-container div {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

/* makes the color of the text aquamarine */
.image-container div a {
    position: absolute;
    top: 40%;
    left: 35%;
    color:aquamarine;
}

/* changes the color of the text when hovered over */
.image-container div a:hover {
    color: red;
}

/*_paragraphs_______________________________________________________*/
/* styles the paragraphs */
p {
    width: 50%;
    font-size: 16px;
    margin-bottom: 50px;
}


/*_contact list_____________________________________________________*/
/* flex container */
.contact-section ul{
    display: flex;
    justify-content: flex-start;
    justify-content:flex-start;
    flex-direction: column;
    width: 45%;
    font-size: 1.8em;
    list-style: none;
    margin-bottom: 20px;
}

/* sets the content to be in the center */
.contact-section ul li a{

    justify-content: flex-end;
    text-decoration: underline;
}


/*_responsive controls____________________________________________ */
@media screen and (max-width: 700px) {

    
/*_nav_________________________________________________________ */
/* sets the size of the nav bar */
nav {
    width: 90%;
    margin: 0 auto;
    box-shadow: 2px 2px rgba(107, 105, 105, 0.616);
}

/* sets the flex container */
nav div ul {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* sets the background color for the ul */
nav ul {
    background-color: rgb(230, 178, 112);
    list-style: none;
    padding: 5px 0px;
}

/* sets the background color for the li */
nav li {
    background-color: rgb(230, 178, 112);
    text-decoration: none;
    margin-right: 10%;
    font-size: 1.3em;
    margin-left: 10%;
}

/* gets rid of the underline on the text */
nav li a {
    text-decoration: none;
    color: rgb(68, 62, 45);
}

/* changes the properties when hovered over */
nav li a:hover {
    text-decoration: underline;
    cursor: pointer;
    color:aquamarine;
}


/*_portfolio____________________________________________________*/
/* create the flex container for the images */
.image-container {
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* sets the size for the images */
.image-container img {
    width: 300px;
    margin: 5px;
}

/* changes the size of the first image */
.img1Contain img {
    width: 90%;
}

/* places a filter over the projects */
.image-container div {
    filter:grayscale(60%) blur(3px);
}

/* removes the filter when hovered over */
.image-container div:hover {
    filter:grayscale(0%) blur(0px);
    cursor: pointer;
}

/* centers the text over the image */
.image-container div {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

/* makes the color of the text aquamarine */
.image-container div a {
    position: absolute;
    top: 30%;
    left: 20%;
    color:aquamarine;
}

/* changes the color of the text when hovered over */
.image-container div a:hover {
    color: red;
}

/* changes the font to small */
p {
    font-size: small;
}

/* makes the font smaller */
h2 {
    font-size: 2.5em;
}

/* makes the font smaller */
h3 {
    font-size: 1.2em;
}

/* makes the font smaller */
.contact-section ul{
    width: 55%;
    font-size: 1em;
}

/* adds space between the lines */
.contact-section li{
    margin-bottom: 5%;
}
    
}